<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <title>コントロールパネル - 健康観察フォーム入力支援ツール</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-3">
        <div class="container">
          <span class="navbar-brand" href="#">コントロールパネル</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" @click="page = 'root'">ホーム</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">登録リスト</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">TEXT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container" v-if="page == 'root'">
        <div class="text-center">
          <h1 class="display-4">コントロールパネル</h1>
          <p class="lead">健康観察フォーム入力支援ツールの設定を行います</p>
        </div>
        <div class="container-fluid" style="max-width: 960px">
          <div class="row">
            <div class="col-lg-4 my-2">
              <div class="card border-primary shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">フォームを変更する</h5>
                  <p class="card-text">各学年ごとに割り当てられているフォームを変更します</p>
                  <a href="javascript:void(0)" class="btn btn-primary stretched-link" v-on:click="page = 'setting'">進む</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 my-2">
              <div class="card border-primary shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">フォーム一覧</h5>
                  <p class="card-text">登録されているフォームの確認、削除を行います</p>
                  <a href="javascript:void(0)" class="btn btn-primary stretched-link" v-on:click="page = 'list'">進む</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 my-2">
              <div class="card border-primary shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">登録済みフォームの確認</h5>
                  <p class="card-text">クラスなどの選択肢が正しいかを確認します</p>
                  <a href="javascript:void(0)" class="btn btn-primary stretched-link" v-on:click="page = 'view'">進む</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="max-width: 800px" v-if="page == 'setting'">
        <button class="btn btn-link mb-2" v-on:click="page = 'root'">ホームに戻る</button>
        <div class="card">
          <div class="card-header">フォームを変更する</div>
          <div class="card-body">
            <div class="container-fluid" v-if="page_edit == 'input'">
              <p class="card-text">以下の手順に従ってフォームを変更してください</p>
              <form @submit.prevent="analyze()">
                <div class="mb-3">
                  <label class="form-label">1. どの学年のフォームを変更するのか選択してください</label>
                  <select class="form-select" v-model="edit_target" required>
                    <option value="" disabled selected>選択してください</option>
                    <option value="2020">2020年度入学（43期生）</option>
                    <option value="2019">2019年度入学（42期生）</option>
                    <option value="2018">2018年度入学（41期生）</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">2. フォームのソースを貼り付けてください<br />わからない場合は<a href="https://sites.google.com/st.yachiyoshoin.ac.jp/assistanttool/manual/getsource" target="_blank" rel="noopener noreferrer">ここから</a>確認してください</label>
                  <textarea class="form-control" rows="3" v-model="edit_source" required></textarea>
                </div>
                <div class="mb-3">
                  <label class="form-label">3. 下のボタンをクリックしてソースの解析を開始してください</label>
                  <div>
                    <button class="btn btn-primary" type="submit">解析を開始</button>
                    <div class="alert alert-danger mt-3" v-if="analyze_failed">解析に失敗しました</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="container-fluid" v-if="page_edit == 'verification'">
              <button class="btn btn-link mb-1" v-on:click="page_edit = 'input'">戻る</button>
              <p class="card-text">ソースを解析しました<br />クラスなどの選択肢が正しいか確認してください</p>
              <div class="card card-body">
                <div class="mb-3">
                  <label class="form-label">クラスの選択肢</label>
                  <select class="form-select">
                    <option value="" disabled selected>選択してください</option>
                    <option v-bind:value="val" v-for="val in form_class_list">{{ val }}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">番号の選択肢</label>
                  <select class="form-select">
                    <option value="" disabled selected>選択してください</option>
                    <option v-bind:value="val" v-for="val of form_number_size">{{ val }}</option>
                  </select>
                </div>
              </div>
              <div>
                <button class="btn btn-primary mt-3" v-on:click="register()">登録を完了する</button>
              </div>
            </div>
            <div class="container-fluid" v-if="page_edit == 'updating'">
              <div class="my-5 text-center">
                <div class="spinner-border text-primary"></div>
                <p>読み込み中</p>
              </div>
            </div>
            <div class="container-fluid" v-if="page_edit == 'complete'">
              <p class="card-text">登録が完了しました<br />まもなくページが再読み込みされます</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="max-width: 800px" v-if="page == 'list'">
        <button class="btn btn-link mb-2" v-on:click="page = 'root'">ホームに戻る</button>
        <div class="card">
          <div class="card-header">フォーム一覧</div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="max-width: 800px" v-if="page == 'view'">
        <button class="btn btn-link mb-2" v-on:click="page = 'root'">ホームに戻る</button>
        <div class="card">
          <div class="card-header">登録済みフォームの確認</div>
          <div class="card-body">
            <div class="container-fluid">
              <p class="card-text">登録されているフォームの詳細情報を確認できます<br />登録されているもののみ表示しています</p>
              <div class="mb-3">
                <label class="form-label">表示する学年</label>
                <select class="form-select" v-model="view_selected">
                  <option value="" disabled selected>選択してください</option>
                  <option v-bind:value="key" v-for="key of Object.keys(current_forms)">{{ key }}年度入学（{{ key - 1977 }}期生）</option>
                </select>
              </div>
              <div class="card card-body">
                <div class="container-fluid" v-if="view_selected">
                  <div class="mb-3">
                    <label class="form-label">フォームURL</label>
                    <label class="form-label w-100 text-truncate text-primary"><a class="text-primary" v-bind:href="`https:\/\/docs.google.com\/forms\/d\/e\/${current_forms[view_selected][0]}\/viewform`" target="_blank">{{ `https:\/\/docs.google.com\/forms\/d\/e\/${current_forms[view_selected][0]}\/viewform` }}</a></label>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">クラスの選択肢</label>
                    <select class="form-select">
                      <option value="" disabled selected>選択してください</option>
                      <option v-bind:value="val" v-for="val of current_forms[view_selected][2]">{{ val }}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">番号の選択肢</label>
                    <select class="form-select">
                      <option value="" disabled selected>選択してください</option>
                      <option v-bind:value="val" v-for="val of current_forms[view_selected][4]">{{ val }}</option>
                    </select>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" id="show_details" type="checkbox" v-model:value="view_show_details" />
                    <label class="form-check-label" for="show_details">詳細を表示する</label>
                  </div>
                  <div v-if="view_show_details">
                    <div class="mb-3">
                      <label class="form-label">クラス Entry ID</label>
                      <input class="form-control-plaintext" type="text" readonly v-bind:value="current_forms[view_selected][1]" />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">番号 Entry ID</label>
                      <input class="form-control-plaintext" type="text" readonly v-bind:value="current_forms[view_selected][3]" />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">氏名 Entry ID</label>
                      <input class="form-control-plaintext" type="text" readonly v-bind:value="current_forms[view_selected][5]" />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">日付 Entry ID</label>
                      <input class="form-control-plaintext" type="text" readonly v-bind:value="current_forms[view_selected][6]" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      window.service_url = "<?= ScriptApp.getService().getUrl() ?>";
      console.log(service_url);
    </script>
    <?!= HtmlService.createHtmlOutputFromFile("control.js").getContent() ?>
  </body>
</html>
